<%- layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">

    <H3>Edit your Listing</H3>
    <form method="POST" 
        action="/listings/<%= listing._id %>?_method=PUT" 
        novalidate 
        class="needs-validation" 
        enctype="multipart/form-data"
        >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
             name="listing[title]"
             value="<%= listing.title %>"
             type="text"
             class="form-control"
             required
            />
            <div class="valid-feedback">Title Looks Good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
             name="listing[description]"
             type="text"
             class="form-control"
             required
            ><%= listing.description %>
            </textarea>
            <div class="invalid-feedback">Please enter a short Description</div>
        </div>
        <div class="mb-3">
            Original Listing Image <br>
            <img src = "<%= originalImageUrl %>" 
              class="img-fluid object-fit-cover"
              style="height:250px;width: 350px"
            />
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input
             name="listing[image]"
             type="file"
             class="form-control"
            />
        </div>
        <div class="row">

        <div class="mb-3 col-md-4">
            <label for="Price" class="form-label">Price</label>
            <input
             name="listing[price]"
             value="<%= listing.price %>"
             type="number"
             class="form-control"
             required
            />
            <div class="invalid-feedback">Price should be Valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
             name="listing[country]"
             value="<%= listing.country %>"
             type="text"
             class="form-control"
             required
            />
            <div class="invalid-feedback">Country name should be Valid</div>
        </div>

        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
             name="listing[location]"
             value="<%= listing.location %>"
             type="text"
             class="form-control"
             required
            />
            <div class="invalid-feedback">Location should be Valid</div>
        </div>

        <div class="mb-3">
        <label for="category" class="form-label">Categories</label>

        <div class="row">
            <% const categories = [
                "Trending",
                "Rooms",
                "Iconic Cities",
                "Mountains",
                "Castles",
                "Swimming Pools",
                "Camping",
                "Farms",
                "Arctic",
                "Beach",
                "Cabins"
            ]; %>

        <% categories.forEach(cat => { %>
            <div class="col-md-3">
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        name="listing[category]"
                        value="<%= cat %>"
                        <%= listing.category && listing.category.includes(cat) ? "checked" : "" %>
                    >

                    <label class="form-check-label">
                        <%= cat %>
                    </label>
                </div>
            </div>
            <% }) %>
        </div>

        </div>
        <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
    </form>

  </div>
</div>
