<%- layout("/layouts/boilerplate.ejs") %>

<body>
    <div id="filters">
        <a href="/listings?category=Trending" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
        </a>

        <a href="/listings?category=Rooms" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
        </a>

        <a href="/listings?category=Iconiccities" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div>
        </a>

        <a href="/listings?category=Mountains" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
        </a>

        <a href="/listings?category=Castles" class="filter-link">
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
        </a>

        <a href="/listings?category=Swimmingpools" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Swimming Pools</p>
            </div>
        </a>

        <a href="/listings?category=Farms" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>Farms</p>
            </div>
        </a>

        <a href="/listings?category=Arctic" class="filter-link">
            <div class="filter">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
        </a>

        <a href="/listings?category=Camping" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        </a>

        <a href="/listings?category=Beach" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beach</p>
            </div>
        </a>

        <a href="/listings?category=Cabins" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-house-flag"></i></div>
                <p>Cabins</p>
            </div>
        </a>

        <div class="tax-toggle">
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" id="switchCheckReverse">
                <label class="form-check-label" for="switchCheckReverse">Total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
<% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem ">
                <div class="card-img-overlay">AeroWave</div>
                <div class="card-body">
                   <b class="card-title"><%= listing.title %></b>
                   <p class="card-text">
                    &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                    <i class="tax-info">&nbsp &nbsp+18% GST</i>
                   </p>
                </div>
              </div>
            </a>
<% } %>
    </div>
</body>

<script>
    let taxSwitch = document.getElementById("switchCheckReverse");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo) {
            if(info.style.display != "inline") {
                info.style.display = "inline";
            }
            else {
                info.style.display = "none";
            }
            
        }
    });
</script>